<main class="container "id="contenedor">
    <div class="bg-light p-5 rounded">
      <h1 id="titulo">My Booksmark</h1>
      <p class="lead">Bookmarks test</p>
      <a class="btn boton btn-lg btn-primary" role="button">Click para ver grafico»</a>
    </div>
  </main>



 
  <div id="canvas" style="display: none;">
    <%= pie_chart @bookmarks %>
  </div>